a {
    text-decoration: none;
    color: #659225;

    &.active {
        color: #365c02;
    }

    &:hover {
        color: #365c02;
    }
}

.cart-no {
    position: absolute;
    min-height: 15px;
    min-width: 15px;
    border-radius: 50%;
    font-size: .75em;
    background: #F47C3C;
    color: white;
    text-align: center;
    top: -8px;
    right: 39px;
}

.navbar-brand {
    font-family: 'Great Vibes', cursive;
    font-size: 2em;

    &:hover {
        cursor: pointer;
    }

    &:focus {
        outline: none;
    }
}