<div class="d-flex flex-column flex-md-row align-items-center justify-content-between p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm fixed-top">
    <h2 class="navbar-brand" routerLink="/">Ashwood Estates</h2>
    <nav class="my-2 my-md-0 mr-md-3 text-uppercase" style="font-size: larger;">
        <a class="p-2" routerLink="/" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">Home</a>
        <a class="p-2" routerLink="/products" routerLinkActive="active">Products</a>
        <a class="p-2">Membership</a>
        <a class="p-2" href="#">About</a>
    </nav>
    <div class="d-flex align-items-center">
        <a class="position-relative">
            <i class="fa fa-shopping-cart fa-2x me-5 text-dark"></i>
            <div class="cart-no">5</div>
        </a>
        <a class="btn btn-outline-secondary me-2">Login</a>
        <a class="btn btn-outline-secondary me-2">Sign Up</a>
    </div>
</div>

<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Ashwood Estates</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"><a class="nav-link" routerLink="products">Products</a></li>
                    <li class="nav-item"><a class="nav-link" routerLink="membership">Membership</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"data-bs-toggle="dropdown" aria-expanded="false">Social</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item"
                                   (click)="goToLink('https://www.facebook.com/AshwoodEstates/')">
                                   <i class="fa fa-facebook"></i>&nbsp;&nbsp;Follow Us</a>
                            </li>
                            <li><a class="dropdown-item"
                                (click)="goToLink('https://www.facebook.com/AshwoodEstates/')">
                                <i class="fa fa-instagram" aria-hidden="true"></i>&nbsp;&nbsp;Follow Us</a>
                            </li>
                            <li><a class="dropdown-item"
                                (click)="goToLink('https://www.facebook.com/AshwoodEstates/')">
                                <i class="fa fa-etsy" aria-hidden="true"></i>&nbsp;&nbsp;Visit our Etsy Shop!</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" routerLink="about">About Us</a></li>
                </ul>
                <ul class="navbar-nav d-flex">
                    <li class="nav-item"><a class="nav-link" routerLink="#">Sign up</a></li>
                    <li class="nav-item"><a class="nav-link" routerLink="login">Login</a></li>
                    <li class="nav-item"><a class="nav-link fa fa-shopping-cart position-relative" routerLink="cart"><div class="cart-no">5</div></a></li>
                </ul>
        </div>
    </div>
</nav> -->

<!-- <nav class="d-flex justify-content-around align-items-center">
    <div class="social-links">
        <ul>
            <li>
                <a style="color: #777; text-decoration: none;" 
                   class="fab fa-facebook-f" 
                   (click)="goToLink('https://www.facebook.com/AshwoodEstates/')"></a>
            </li>
            <li>
                <i class="fab fa-instagram"></i>
            </li>
            <li>
                <i class="fab fa-etsy"></i>
            </li>
            
        </ul>
    </div>
    <div style="border-left: 1px solid #777; border-right: 1px solid #777;" class="center-links d-flex justify-content-between ps-5 pe-5">
        <ul>
            <li class="nav-item"><a class="nav-link" routerLink="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="products">Products</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="membership">Membership</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="about">About Us</a></li>
        </ul>
    </div>
    <div>
        <ul class="login-list">
            <li class="nav-item"><a class="nav-link2" routerLink="#">Sign up</a></li>
            <li class="nav-item me-5"><a class="nav-link2" routerLink="#">Log in</a></li>
            <li class="nav-item"><span style="font-size: 26px;"><a style="color:#777; text-decoration: none;" class="fas fa-shopping-cart" routerLink="cart"></a></span></li>
        </ul>
    </div>
    
</nav> -->
