a {
    text-decoration: none;
    color: #777;

    &.active {
        color: #333;
    }

    &:hover {
        color: #333;
    }
}

.cart-no {
    position: absolute;
    min-height: 25px;
    min-width: 25px;
    border-radius: 50%;
    font-size: 1em;
    background: blue;
    color: white;
    text-align: center;
    top: -12px;
    right: 32px;
}

.navbar-brand {
    font-family: 'Great Vibes', cursive;
    font-size: 2em;

    &:hover {
        cursor: pointer;
    }

    &:focus {
        outline: none;
    }
}