/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins&display=swap');

body, html {
    height: 100%;
    margin: 0;
    font-family: "Poppins", Helvetica, sans-serif;
}

.xng-breadcrumb-root {
    padding: 8px 16px;
    display: inline;
    border-radius: 0;
}

label.xng-breadcrumb-trail {
    margin-bottom: 0;
    color: #333;
}

.xng-breadcrumb-separator {
    padding: 0;
}
