<header class="bgimg-1">
    <div class="caption">
        <span class="attention-grabber">Ashwood Estates</span>
    </div>
</header>

<section>
    <div class="container">
        <div class="text-center"><h2>Ashwood Estates: <em>apothecary naturals.</em></h2></div>
        <p>Travel back to a simpler time, one of pure, clean living, natural scents and organic, wholesome goodness. Procure items that will awaken your senses with invigorating and nourishing essential oils, healing organics, and herbal foundations. Treat yourself to lotions, washes, balms, salves, and more. Treat your home and pets as well, with chemical-free cleaners and aromatics. </p>
    </div>
</section>

<section class="bgimg-2">
    <div class="caption">
        <span class="attention-grabber">Breathe.</span>
    </div>
</section>

<section>
    <div class="container">
        <div class="text-center"><h2>Why does it matter?</h2></div>
        <p>Taking good care of your skin is important for more than just your appearance. As the largest organ you have, 
            your skin is essential to your general health. If you take care of it, it can help take care of you. This is 
            why it is so important to have a well-thought-out skin care routine. It is absolutely worth the time and energy 
            to take care of your skin on a daily basis.</p>

        <h4 class="text-center">Skin Care is Part of a Healthy Lifestyle</h4>

        <p>Those who take the time to wash their face in the morning and at night are more likely to be making healthy choices 
            throughout their day. Skin care can be combined with a thorough oral care and hair care routine. Doing all of these 
            things may help motivate you to eat better and exercise as well. It all adds up to a happier, healthier you.</p>

        <p>It is a pretty well-known fact that you will feel better when you look better. Having a daily skin care routine helps 
            you to look your best and put your best foot forward when you go out into the world.</p>
    </div>
</section>

<section class="bgimg-3">
    <div class="caption">
        <span class="attention-grabber">Care.</span>
    </div>
</section>

<section>
    <div class="container">
        <div class="text-center"><h2>How we're different:</h2></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum 
            dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, 
            sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
</section>

<section class="bgimg-4">
    <div class="caption">
        <span class="attention-grabber">Live.</span>
    </div>
</section>

